.card-continents:hover {
    box-shadow: none !important;
    --bs-bg-opacity: 1;
    background-color: transparent !important;
    border: 1px solid #eaeaec !important;
    border-color: #666cff !important;
    cursor: pointer;
}
